@import "tailwindcss";

.header-gradient {
    background: linear-gradient(90deg, #1d63ed 0%, #002a8c 100%);
}

.content-gradient {
    background: linear-gradient(269deg, #000 7.91%, #212224 100%);
}

.footer-gradient {
    background: linear-gradient(90deg, #1d63ed 0%, #002a8c 100%);
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/*@font-face {*/
/*    font-family: Arounder;*/
/*    src: url("assets/fonts/Arounder.otf") format("otf");*/
/*}*/

@layer base {
    html, body {
        height: 100%;
        overflow: hidden;
        font-family: Nunito, sans-serif;
    }

    #root {
        height: 100%;
    }

    a {
        cursor: pointer;
    }
}

@layer utilities {
    .neu-input {
        background: #1e1f24;
        box-shadow:
            inset 2px 2px 4px rgba(0, 0, 0, 0.3),
            inset -2px -2px 4px rgba(255, 255, 255, 0.05),
            2px 2px 6px rgba(0, 0, 0, 0.2),
            -2px -2px 6px rgba(255, 255, 255, 0.05);
    }

    .btn-skin {
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(0, 0, 0, 0) 60%
        );
        border: 1px solid rgba(255, 255, 255, 0.68);
        box-shadow:
            inset 0 1px 1px rgba(255, 255, 255, 0.15),
            inset 0 -1px 2px rgba(0, 0, 0, 0.6),
            0 14px 36px rgba(0, 0, 0, 0.65);
    }
    .btn-skin:hover {
        transform: translateX(5px);
    }
}

