@import "tailwindcss";

.header-gradient {
    background: linear-gradient(90deg, #1d63ed 0%, #002a8c 100%);
}

.content-gradient {
    background: linear-gradient(269deg, #000 7.91%, #212224 100%);
}

.footer-gradient {
    background: linear-gradient(90deg, #1d63ed 0%, #002a8c 100%);
}

@font-face {
    font-family: "ForestSmooth", sans-serif;
    src: url("@/assets/fonts/ForestSmooth.ttf") format("ttf");
}
@font-face {
    font-family: "Nunito", sans-serif;
    src: url("@/assets/fonts/Nunito.ttf") format("ttf");
}

@layer base {
    html, body {
        height: 100%;
        overflow: hidden;
        font-family: Nunito, sans-serif;
    }

    #root {
        height: 100%;
    }

    a {
        cursor: pointer;
    }
}

@layer utilities {
    .custom-title {
        font-family: "ForestSmooth", sans-serif;
        line-height: 120%;
    }

    .neu-input {
        background: #24272c;
        box-shadow:
            inset 2px 2px 4px 0 rgba(0, 0, 0, 0.25),
            inset -2px -2px 4px 0 rgba(255, 255, 255, 0.25);
    }

    .btn-skin {
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(0, 0, 0, 0) 60%
        );
        border: 1px solid rgba(255, 255, 255, 0.68);
    }
}

